.privacy-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .privacy-content {
    width: 80%;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
  }
  
  .header {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .privacy-content h1 {
    color: #333;
  }
  
  .main-content {
    margin-bottom: 30px;
  }
  
  .main-content p {
    margin-bottom: 15px;
  }
  
  .main-content h2 {
    margin-bottom: 10px;
  }
  
  .main-content ul {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 15px;
  }
  
  .main-content ul li {
    margin-bottom: 5px;
  }
  
  .main-content a {
    color: #007bff;
    text-decoration: none;
  }
  
  .main-content a:hover {
    text-decoration: underline;
  }
  
  .contact-info {
    text-align: center;
  }
  